<script type="text/javascript" src="jquery.blockUI.js"></script>

<h1>Todos</h1>

{{#view Todos.CreateTodoView}}
	<input id="new-todo" type="text" placeholder="What needs to be done?" />
{{/view}}

{{view Todos.StatsView id="stats"}}

{{view SC.Checkbox class="left mark-all-done"
		title="Mark All as Done"
		valueBinding="Todos.todoListController.allAreDone"}}
		
<div class="right tag-title">
	{{#view SC.Button target="Todos.todoListController"
		action="sortByTags"}}Tags{{/view}}
</div>	
<br />
	
{{#collection SC.TemplateCollectionView contentBinding="Todos.todoListController"
										itemClassBinding="content.isDone"}}
  {{view Todos.MarkDoneView class="left" }}
  {{#view Todos.GetTodosTags}}
  	{{tags}}
  {{/view}}
{{/collection}}

<div id="tags" class="hidden">
	{{view Todos.TagsView id="tags"}}
</div>
