<!-- tagging section: hidden by default -->
<div id="boxes">
    <div id="dialog" class="window">
    	{{#view SC.Button class="sc-buttonclear" classBinding="isActive"
				target="Todos.tagsController"
				action="closeTagsView"}}
				<div id="closebutton"> &nbsp; </div>
		{{/view}}
    	<h2>Tags</h2>
        <br />
        {{view Todos.TagsView id="tags"}}
       
    </div>
    <div id="mask"></div>
</div>
<!-- end of tagging section -->
<h1>Todos</h1>

{{#view Todos.CreateTodoView}}
	<input id="new-todo" type="text" placeholder="What needs to be done?" />
{{/view}}

{{view Todos.StatsView id="stats"}}

{{view SC.Checkbox class="left mark-all-done" style="display:inline"
		title="Mark All as Done"
		valueBinding="Todos.todoListController.allAreDone"}}
		
<div class="right tag-title" style="display:inline">
	{{#view SC.Button target="Todos.todoListController" action="sortByTags"}}Tags{{/view}}
</div>	
<br />
	
{{#collection SC.TemplateCollectionView contentBinding="Todos.todoListController"
										itemClassBinding="content.isDone"}}
  {{view Todos.MarkDoneView class="left" }}
  {{#view Todos.GetTodosTags}}
  	{{tags}}&nbsp;
  {{/view}}
{{/collection}}




